<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="showCustomer" content="Show customer"></meta>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../static/js/showCustomer.js" th:src="@{/js/showCustomer.js}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>Klantmanagement</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
</head>

<body data-ng-app="showCustomer">
	<header>
		<div>
			<h1 id="pageHead">Klantmanagement</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="headSection">
		<h1>Klantenbestand</h1>
	</section>
	<section id="inventaris" data-ng-controller="tableController">
		<div class="container">
			<div id="containerCustomers">
				<table>
					<thead>
						<tr id="tableHeaders">
							<th>Klantnummer</th>
							<th>Bedrijf</th>
							<th>Voornaam</th>
							<th>Achternaam</th>
							<th>Email</th>
							<th>Telefoonnummer</th>
						</tr>
					</thead>
					<tbody id="customerTbody">
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="alterCustomer">
		<div class="container" data-ng-controller="postCustomerController">
			<div class="customerFormItem">
				<label for="customerId">Klantnummer:</label>
				<div>
					<input name="customerId" id="customerId" type="number"
						data-ng-model="customerNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="companyName">Bedrijfsnaam:</label>
				<div>
					<input name="companyName" id="companyName" type="text"
						data-ng-model="companyName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="firstName">Voornaam:</label>
				<div>
					<input name="firstName" id="firstName" type="text"
						data-ng-model="firstName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="lastname">Achternaam:</label>
				<div>
					<input name="lastName" id="lastName" type="text"
						data-ng-model="lastName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="emailAdres">Emailadres:</label>
				<div>
					<input name="emailAddress" id="emailAddress" type="text"
						data-ng-model="emailAddress"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="telNumber">Telefoonnummer:</label>
				<div>
					<input name="telNumber" id="telNumber" type="text"
						data-ng-model="telNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="StatusCustomer">Status:</label>
				<div>
					<select name="StatusCustomer" id="StatusCustomer">
						<option value="Normal">Normal</option>
						<option value="Blacklisted">Blacklisted</option>
					</select>
				</div>
			</div>
		</div>
	</section>

	<section id="alterCustomerButtons">
		<div class="container" data-ng-controller="postCustomerController">
			<div class="customerFormItem">
				<div>
					<button name="btnSearchCustomer" type="submit" class="button_1"
					 	data-ng-click="submitCustomer()">Klant zoeken</button>
				</div>
			</div>
			<div class="customerFormItem">
				<div>
					 <button name="btnEditCustomer" type="submit" class="button_1"
					>Klant wijzigen</button><!-- 	data-ng-click="editCustomer()">Klant wijzigen</button>-->
				</div>
			</div>
			<div class="customerFormItem">
				<div>
					<button name="btnRemoveCustomer" type="submit" class="button_1"
						>Klant verwijderen</button><!-- data-ng-click="removeCustomer()">Klant verwijderen</button>-->
				</div>
			</div>
			<div class="customerFormItem">
				<div>
					<button name="btnAddCustomer" type="submit" class="button_1"
					>Klant toevoegen</button><!-- 	data-ng-click="AddCustomer()">Klant toevoegen</button>-->
				</div>
			</div>
		</div>
	</section>


	<section id="alterLocation">
		<div class="container" data-ng-app="showCustomer"
			data-ng-controller="postCustomerController">
			<div class="customerFormItem">
				<label for="cityName">Stad:</label>
				<div>
					<input name="cityName" id="cityName" type="text"
						data-ng-model="cityName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="streetName">Straat:</label>
				<div>
					<input name="streetName" id="streetName" type="text"
						data-ng-model="streetName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="houseNumber">Huisnummer:</label>
				<div>
					<input name="houseNumber" id="houseNumber" type="text"
						data-ng-model="houseNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="postalCode">Postcode:</label>
				<div>
					<input name="postalCode" id="postalCode" type="text"
						data-ng-model="postalCode"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="LocationDiscription">Locatie beschijving:</label>
				<div>
					<input name="LocationDiscription" id="LocationDiscription"
						type="text" data-ng-model="LocationDiscription"></input>
				</div>
			</div>
		</div>
	</section>

	<section id="alterLocationButtons">
		<div class="container" data-ng-app="showCustomer"
			data-ng-controller="postCustomerController">
				<div class="customerFormItem">
					<div>
						<button name="btnEditLocatie" type="submit" class="button_1"
							data-ng-click="editLocatie()">Locatie wijzigen</button>
					</div>
				</div>
				<div class="customerFormItem">
					<div>
						<button name="btnRemoveLocation" type="submit" class="button_1"
							data-ng-click="removeLocation()">Locatie verwijderen</button>
					</div>
				</div>
			<div class="customerFormItem">
				<div>
					<button name="btnAddLocation" type="submit" class="button_1"
						data-ng-click="AddLocation()">Locatie toevoegen</button>
				</div>
				</div>
			<div class="customerFormItem">
				<div>
					<button name="btnEmptyAllFields" type="submit" class="button_1"
						data-ng-click="EmptyAll()">Leeg alle velden</button>
				</div>
			</div>
			
		</div>
	</section>

</body>

</html>
