<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="placeOrder" content="Order placement"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../static/js/placeOrder.js" th:src="@{/js/placeOrder.js}"></script>
<title>Bestelling Plaatsen</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
<!--  Files for datepicker -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script>
</head>

<body data-ng-app="placeOrder">
	<header>
		<div>
			<h1 id="pageHead">Bestelling plaatsen</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="searchCustomer">
		<div class="container" data-ng-controller="postCustomerController">
			<div class="customerFormItem">
				<label for="customerId">Klantnummer:</label>
				<div>
					<input name="customerNumber" id="customerNumber" type="number"
						data-ng-model="customerNumber" min="0"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="companyName">Bedrijfsnaam:</label>
				<div>
					<input name="companyName" id="companyName" type="text"
						data-ng-model="companyName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="firstname">Voornaam:</label>
				<div>
					<input name="firstname" id="firstname" type="text"
						data-ng-model="firstname"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="lastname">Achternaam:</label>
				<div>
					<input name="lastname" id="lastname" type="text"
						data-ng-model="lastname"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="btnSearchCustomer" type="submit" class="button_1"
						data-ng-click="submitCustomer()">Klant zoeken</button>
				</div>
			</div>
		</div>
	</section>

	<section id="customerSelection">
		<div class="container">
			<select name="customerList" id="customerList">
				<option value="Customer 1">Customer 1</option>
				<option value="Customer 2">Customer 2</option>
				<option value="Customer 3">Customer 3</option>
				<option value="Customer 4">Customer 4</option>
			</select>
		</div>
	</section>

	<section id="searchProduct" data-ng-controller="productController">
		<div class="container">
			<div class="productFormItem">
				<label for="productId">Productnummer:</label>
				<div>
					<input name="productId" id="productId" type="text"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="productName">Product naam:</label>
				<div>
					<input name="productName" id="productName" type="text"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="catagory">Soort:</label>
				<div>
					<select name="catagoryList" id="catagoryList">
						<option value=""></option>
						<option value="Board">Board</option>
						<option value="Computers">Computers</option>
						<option value="Displays">Displays</option>
						<option value="Keyboards">Keyboards</option>
						<option value="Laptops">Laptops</option>
						<option value="Mouse">Mouse</option>
						<option value="Network">Network</option>
						<option value="Storage">Storage</option>
						<option value="Tablets">Tablets</option>
					</select>
				</div>
			</div>
			<div class="productFormItem">
				<br></br>
				<div>
					<button name="btnSearchProduct" type="submit" class="button_1"
						data-ng-click="submitProduct()">Product zoeken</button>
				</div>
			</div>
			<div class="productFormItem">
				<label for="lbAmount">Aantal:</label>
				<div>
					<input name="sbAmount" id="sbAmount" type="number" value="1"></input>
				</div>
			</div>
			<div class="productFormItem">
				<br></br>
				<div>
					<button name="btnAddToBasket" type="submit" class="button_1"
						data-ng-click="addItemToShoppingCart()">Bestel item</button>
				</div>
			</div>

		</div>
	</section>
	<section id="headSection" >
		<h1>Inventaris</h1>
	</section>
	<section id="inventaris" data-ng-controller="tableController">
		<div class="container">
			<div id="containerInventaris">
				<table id="inventarisTable">
					<thead>
						<tr id="tableHeaders">
							<th>Productnummer</th>
							<th>Naam</th>
							<th>Soort</th>
							<th>Prijs</th>
							<th>Aantal inventaris</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="inventarisTbody">
						

					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="headSection">
		<h1>Winkelwagen</h1>
	</section>
	<section id="shoppingBasket" data-ng-controller="shoppingBasketController">
		<div class="container">
			<div class="basketContainer" id="basketContainerItem1">
				<table id="winkelwagenTable">
					<thead>
						<tr id="tableHeaders">
							<th>Productnummer</th>
							<th>Naam</th>
							<th>Soort</th>
							<th>Prijs</th>
							<th>Aantal</th>
						</tr>
					</thead>
					<tbody id="winkelwagenTbody">

					</tbody>
				</table>
			</div>
			<div class="basketContainer" id="basketContainerItem2">
				<form name="baketBtnForm" id="baketBtnForm">
					<button name="btnSearchProduct" type="submit" class="button_1" data-ng-click="removeItemFromShoppingCart()">Verwijder
						item</button>
					<button name="btnSearchProduct" type="submit" class="button_1" data-ng-click="placeOrder()">Bestelling
						plaatsen</button>
					Datum:<input type="text" id="deliveryDate" class="datepicker"></input>
				</form>
			</div>
		</div>
	</section>
</body>

</html>
