<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="placeOrder" content="Order placement"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../static/js/placeOrder.js" th:src="@{/js/placeOrder.js}"></script>
<title>Productmanagement</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
</head>

<body>
	<header>
		<div>
			<h1 id="pageHead">Productmanagement</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="headSection">
		<h1>Inventaris</h1>
	</section>
	<section id="inventaris">
		<div class="container">
			<div id="containerProductManagement">
				<table>
					<thead>
						<tr>
							<th>Productnummer</th>
							<th>Naam</th>
							<th>Soort</th>
							<th>Prijs</th>
							<th>Aantal inventaris</th>
							<th>Warenhuis</th>
							<th>Compartement nummer</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>25</td>
							<td>A</td>
							<td>1</td>
							<td>Op vaaraad</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="shoppingBasket">
		<div class="container">
			<div class="TrippelContainer" id="TrippelContainer1">
				<p>
					<label for="productNumber">Productnummer:</label> <input
						name="productNumber" id="productNumber" type="text"
						data-ng-model="productNumber"></input>
				</p>
				<p>
					<label for="productName">Product naam:</label> <input
						name="productName" id="productName" type="text"
						data-ng-model="productName"></input>
				</p>
				<p>
					<label for="productType">Type: </label> <select multiple="multiple"
						id="productType">
						<option value="Board">Board</option>
						<option value="Computers">Computers</option>
						<option value="Displays">Displays</option>
						<option value="Keyboards">Keyboards</option>
						<option value="Laptops">Laptops</option>
						<option value="Mouse">Mouse</option>
						<option value="Network">Network</option>
						<option value="Storage">Storage</option>
						<option value="Tablets">Tablets</option>
					</select>
				</p>
				<p>
					<label for="productStatus">Status:</label> <select
						name="StatusList" id="StatusList">
						<option value="Actief">Actief</option>
						<option value="NietActief">Niet actief</option>
						<option value="TijdelijkNietLeverbaar">Tijdelijk niet
							leverbaar</option>
						<option value="BinnenkortVerwacht">Binnenkort verwacht</option>
						<option value="VerdwijntBinnenkort">Verdwijnt binnenkort</option>
						<option value="Sale">Sale</option>
					</select>

				</p>
			</div>
			<div class="TrippelContainer" id="TrippelContainer2">
				<p>
					<label for="productPrijs">Prijs:</label> <input name="productPrijs"
						id="productPrijs" type="number" step="0.01"
						data-ng-model="productPrijs"></input>
				</p>
				<p>
					<label for="productAmount">Product naam:</label> <input
						name="productAmount" id="productAmount" type="number"
						data-ng-model="productAmount"></input>
				</p>
				<p>
					<label for="selectieWarenhuis">Warenhuis:</label> <select
						name="selectieWarenhuis" id="selectieWarenhuis">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
					</select>
				</p>
				<p>
					<label for="compartmentNumber">Compartementnummer:</label> <input
						name="compartmentNumber" id="compartmentNumber" type="number"
						data-ng-model="productPrijs"></input>
				</p>
			</div>

			<div class="TrippelContainer" id="TrippelContainer3">
				<button name="btnSearchProduct" type="submit" class="button_1">Product
					zoeken</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Product
					wijzigen</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Product
					toevoegen</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Product
					verwijderen</button>
				<br /> <input name="showHistory" id="showHistory" type="checkbox"
					data-ng-model="showHistory"></input> <label for="labelShowHistory">Laat
					geschiedenis zien.</label>
			</div>
		</div>
	</section>
</body>

</html>
