<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="showProduct" content="Show products"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../static/js/showProduct.js" th:src="@{/js/showProduct.js}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>Productmanagement</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
</head>

<body data-ng-app="showProduct">
	<header>
		<div>
			<h1 id="pageHead">Productmanagement</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="headSection">
		<h1>Inventaris</h1>
	</section>


	<section id="inventaris" data-ng-controller="tableController">
		<div class="container">
			<div id="containerProductManagement">
				<table>
					<thead>
						<tr id="tableHeaders">
							<th>Productnummer</th>
							<th>Naam</th>
							<th>Soort</th>
							<th>Prijs</th>
							<th>Aantal inventaris</th>
							<th>Warenhuis</th>
							<th>Compartement nummer</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="productTbody">
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="alterProduct">
		<div class="container" data-ng-controller="viewProductController">
			<div class="productFormItem">
				<label for="productNumber">Productnummer:</label>
				<div>
					<input name="productNumber" id="productNumber" type="text"
						data-ng-model="productNumber"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="productName">Naam:</label>
				<div>
					<input name="productName" id="productName" type="text"
						data-ng-model="productName"></input>
				</div>
			</div>
			<div class="productFormItem">
			<label for="category">Soort:</label>
				<div>
					<select  name="categoryList" id="categoryList">
						<option value=""></option>
						<option value="Board">Board</option>
						<option value="Computers">Computers</option>
						<option value="Displays">Displays</option>
						<option value="Keyboards">Keyboards</option>
						<option value="Laptops">Laptops</option>
						<option value="Mouse">Mouse</option>
						<option value="Network">Network</option>
						<option value="Storage">Storage</option>
						<option value="Tablets">Tablets</option>
					</select>
				</div></div>
			<div class="productFormItem">
				<label for="productPrice">Prijs:</label>
				<div>
					<input name="productPrice" id="productPrice" type="text"
						data-ng-model="productPrice"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="amount">Aantal:</label>
				<div>
					<input name="amount" id="amount" type="text"
						data-ng-model="amount"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="warehouse" >Warenhuis:</label>
				<div>
					<select name="warehouse" id="warehouse">
						<option value=""></option>
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
					</select>
				</div>
			</div>
			<div class="productFormItem">
				<label for="compartimentNumber">Compartimentnummer:</label>
				<div>
					<input name="compartimentNumber" id="compartimentNumber" type="text"
						data-ng-model="compartimentNumber"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="productStatus" id="productStatus">Status:</label>
				<div>
				<select	name="statusList" id="statusList">
						<option value="Actief">Actief</option>
						<option value="NietActief">Niet actief</option>
						<option value="TijdelijkNietLeverbaar">Tijdelijk niet
							leverbaar</option>
						<option value="BinnenkortVerwacht">Binnenkort verwacht</option>
						<option value="VerdwijntBinnenkort">Verdwijnt binnenkort</option>
						<option value="Sale">Sale</option>
					</select>
			</div></div>
		</div>
	</section>


	<section id="alterCustomerButtons" data-ng-controller="viewProductController">
		<div class="container">
			<div class="productFormItem">
				<div>
					<button name="btnSearchProduct" type="submit" class="button_1"
					 	data-ng-click="submitProduct()">Product zoeken</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
					 <button name="btnEditProduct" type="submit" class="button_1">Product wijzigen</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
					<button name="btnAddProduct" type="submit" class="button_1">Product toevoegen</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
					<button name="btnRemoveProduct" type="submit" class="button_1"
					>Product verwijderen</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
					<button name="btnEmptyAllFields" type="submit" class="button_1" 
					data-ng-click="EmptyAll()">Leeg alle velden</button>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
