<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width"></meta>
	<meta name="placeOrder" content="Order placement"></meta>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../static/js/placeOrder.js" th:src="@{/js/placeOrder.js}"></script>
	<title>Route bepaling</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"></link>
	<link rel="stylesheet" href="../static/css/styleRouteBepalen.css" th:href="@{/css/styleRouteBepalen.css}"></link>
	<!--  Files for datepicker -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../static/js/datepickerroute.js" th:src="@{/js/datepickerroute.js}"></script> 	 
</head>
<body>
	<!--[HEADER]===============================================================================================-->
	<header>
		<div>
			<h1 id="pageHead">Route bepaling</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- [MAP]=================================================================================================-->	
	<div id="map"></div>
	<!-- [RIGHT PANEL]=========================================================================================-->
	<div id="right-panel">

		<div>
			<p> Datum:</p>
			<p><input name="testdate" type="text" id="date" class="datepickerroute"></input></p>
		</div>
		<div id="right-panel-status"><p></p></div>
		<div id="dropdown_menutrucks"></div>
		<div id="waypointsroute"></div>
		
		<div>
			<button onclick="updateRouteAtDate()" id="calcRouteButton" class="button_1">Herbereken routes</button>
		</div>
		
		<div id="directions-panel"></div>
		
	</div>
	<script async="async" defer="defer"
		th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyDYNY1Z034B-c9YKWJ2RI4jbQzWtFMEHHg,callback=initMap,language=nl-NL)}">
	</script>
</body>
</html>
