<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width"></meta>
	<meta name="placeOrder" content="Order placement"></meta>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../static/js/placeOrder.js" th:src="@{/js/placeOrder.js}"></script>
	<title>Bestelling Weergeven</title>
	<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
	<!--  Files for datepicker -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script> 
</head>

<body>
	<header>
		<div>
			<h1 id="pageHead">Bestellingen weergeven</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="searchCustomer">
		<div class="container" data-ng-app="placeOrder"
			data-ng-controller="postCustomerController">
			<div class="customerFormItem">
				<label for="customerId">Klantnummer:</label>
				<div>
					<input name="customerId" id="customerId" type="number"
						data-ng-model="customerNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="companyName">Bedrijfsnaam:</label>
				<div>
					<input name="companyName" id="companyName" type="text"
						data-ng-model="companyName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="lastname">Bestelnummer:</label>
				<div>
					<input name="orderNumber" id="orderNumber" type="number"
						data-ng-model="orderNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="datum bestellingen">Bestellingen op datum:</label>
				<div>
					<input type="text" id="datepicker"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="btnSearchCustomer" type="submit" class="button_1"
						data-ng-click="submitCustomer()">Klant zoeken</button>
				</div>
			</div>
		</div>
	</section>

	<section id="customerSelection">
		<div class="container">
			<select name="customerList" id="customerList">
				<option value="Customer 1">Customer 1</option>
				<option value="Customer 2">Customer 2</option>
				<option value="Customer 3">Customer 3</option>
				<option value="Customer 4">Customer 4</option>
			</select>
		</div>
	</section>
	<section id="headSection">
		<h1>Bestellingen</h1>
	</section>
	<section id="inventaris">
		<div class="container">
			<div id="containerOrderList">
				<table>
					<thead>
						<tr>
							<th>Order nummer</th>
							<th>Bestel datum</th>
							<th>Bezorg datum</th>
							<th>status</th>
							<th>Klant nummer</th>
							<th>Stad</th>
							<th>Straat</th>
							<th>Huis nummer</th>
							<th>Postcode</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
						<tr>
							<td>1</td>
							<td>17-10-2017</td>
							<td>18-10-2017</td>
							<td>Besteld</td>
							<td>1</td>
							<td>Arnhem</td>
							<td>Kemperbergerweg 803</td>
							<td>803</td>
							<td>6816RW</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
		<section id="alterCustomer">
		<div class="container" data-ng-app="placeOrder"
			data-ng-controller="postCustomerController">
			<div class="customerFormItem">
				<label for="customerId">Klantnummer:</label>
				<div>
					<input name="customerId" id="customerId" type="number"
						data-ng-model="customerNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="companyName">Bedrijfsnaam:</label>
				<div>
					<input name="companyName" id="companyName" type="text"
						data-ng-model="companyName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="lastname">Bestel nummer:</label>
				<div>
					<input name="orderNumber" id="orderNumber" type="number"
						data-ng-model="orderNumber"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="datum bestellingen">Bestellingen op datum:</label>
				<div>
					<input name="orderDate" class="orderDate" type="date"
						data-ng-model="orderDate"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="btnSearchCustomer" type="submit" class="button_1"
						data-ng-click="submitCustomer()">Klant zoeken</button>
				</div>
			</div>
		</div>
	</section>

	<section id="headSection">
		<h1>Producten in bestelling</h1>
	</section>
	<section id="shoppingBasket">
		<div class="container">
			<div class="basketContainer" id="basketContainerItem1">
				<table>
					<thead>
						<tr>
							<th>Order nummer</th>
							<th>Product nummer</th>
							<th>Hoeveelheid</th>
							<th>Prijs</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>iphone7</td>
							<td>mobiel</td>
							<td>669</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>iphone8</td>
							<td>mobiel</td>
							<td>899</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="basketContainer" id="basketContainerItem2">
				<form name="baketBtnForm" id="baketBtnForm">
					<button type="submit" class="button_1">Bestelling anuleren</button>
				</form>
			</div>
		</div>
	</section>
</body>

</html>
