<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="placeOrder" content="Order placement"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="../static/js/showOrders.js" th:src="@{/js/showOrders.js}"></script>
<title>Bestelling Weergeven</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
<!--  Files for datepicker -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script>
</head>

<body data-ng-app="showOrder">
	<header>
		<div>
			<h1 id="pageHead">Bestellingen weergeven</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="searchCustomer">
		<div class="container" data-ng-controller="searchOrderController">
			<div class="customerFormItem">
				<label for="customerId">Klantnummer:</label>
				<div>
					<input name="customerNumber" id="customerNumber" type="number"
						data-ng-model="customerNumber" min="1"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="companyName">Bedrijfsnaam:</label>
				<div>
					<input name="companyName" id="companyName" type="text"
						data-ng-model="companyName"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="btnSearchCustomer" type="submit" class="button_1"
						data-ng-click="submitCustomer()">Klant zoeken</button>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="orderNumber">Bestelnummer:</label>
				<div>
					<input name="orderNumber" id="orderNumber" type="number"
						data-ng-model="orderNumber" min="1"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="datum bestellingen">Leverdatum:</label>
				<div>
					<input type="text" name="deliveryDate" data-ng-model="deliveryDate" class="datepicker" id="deliveryDate"></input>
				</div>
			</div>
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="btnSearchOrder" type="submit" class="button_1"
						data-ng-click="searchOrders()">Bestellingen zoeken:</button>
				</div>
			</div>
		</div>
	</section>

	<section id="customerSelection">
		<div class="container">
			<select name="customerList" id="customerList">
				<option value=""></option>
			</select>
		</div>
	</section>
	<section id="headSection">
		<h1>Bestellingen</h1>
	</section>
	<section id="inventaris" data-ng-controller="tableController">
		<div class="container">
			<div id="containerOrderList">
				<table id="orderTable">
					<thead>
						<tr>
							<th>Order nummer</th>
							<th>Bestel datum</th>
							<th>Lever datum</th>
							<th>status</th>
							<th>Klant nummer</th>
							<th>Stad</th>
							<th>Straat</th>
							<th>Huis nummer</th>
							<th>Postcode</th>
						</tr>
					</thead>
					<tbody id="orderTbody">
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="alterCustomer">
		<div class="container" data-ng-controller="orderLineController">
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="selectOrder" type="submit" class="button_1"
						data-ng-click="selectOrder()">Selecteer Bestelling</button>
				</div>
			</div>
			<div class="customerFormItem">
				<label for="catagoryList">Status bestelling:</label>
				<div>
					<select name="statusBestelling" id="statusBestelling"
						style="width: 100%">
						<option value="Besteld">Besteld</option>
						<option value="Wordt bezorgd">Wordt bezorgd</option>
						<option value="Deels bezorgd">Deels bezorgd</option>
						<option value="Bezorgd">Bezorgd</option>
					</select>
				</div>
			</div>
			<div class="customerFormItem">
				<br></br>
				<div>
					<button name="Wijzig status" type="submit" class="button_1"
						data-ng-click="editStatusOrder()">Status bestelling wijzigen</button>
				</div>
			</div>
		</div>
	</section>

	<section id="headSection">
		<h1>Producten in bestelling</h1>
	</section>
	<section id="shoppingBasket" data-ng-controller="tableController">
		<div class="container">
			<div class="basketContainer" id="basketContainerItem1">
				<table>
					<thead>
						<tr>
							<th>Order nummer</th>
							<th>Product nummer</th>
							<th>Product omschrijving</th>
							<th>Hoeveelheid</th>
							<th>Prijs</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="orderLineTbody">
					</tbody>
				</table>
			</div>
			<div class="basketContainer" id="basketContainerItem2" data-ng-controller="orderLineController">
				<form name="baketBtnForm" id="baketBtnForm">
					<button type="submit" class="button_1" data-ng-click="deleteOrder()">Bestelling anuleren</button>
				</form>
				<div class="customerFormItem">
					<label for="catagoryList">Status bestelling:</label>
					<div>
						<select name="statusProduct" id="statusProduct"
							style="width: 100%">
							<option value="Besteld">Besteld</option>
							<option value="Wordt bezorgd">Wordt bezorgd</option>
							<option value="Bezorgd">Bezorgd</option>
							<option value="Geannuleerd">Geannuleerd</option>
						</select>
					</div>
					<button name="Wijzig status" type="submit" class="button_1"
						data-ng-click="editStatusProduct()" style="margin-top: 5px">Status wijzigen</button>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
