<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="placeOrder" content="Order placement"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../static/js/placeOrder.js" th:src="@{/js/placeOrder.js}"></script>
<title>Vrachtwagenmanagement</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}"></link>
<link rel="routeBEpaling" href="/RouteBepaling.html"
	th:href="@{/RouteBepaling.html}"></link>
</head>

<body>
	<header>
		<div>
			<h1 id="pageHead">Vrachtwagenmanagement</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">KlantManagement</a> <a
								href="productManagement">ProductManagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="RouteBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="headSection">
		<h1>Inventaris</h1>
	</section>
	<section id="inventaris">
		<div class="container">
			<div id="containerProductManagement">
				<table>
					<thead>
						<tr>
							<th>Kenteken</th>
							<th>Chauffeur</th>
							<th>Merk</th>
							<th>Type</th>
							<th>Eigenaar</th>
							<th>Beschikbaar vanaf</th>
							<th>Niet beschikbaar tot</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="shoppingBasket">
		<div class="container">
			<div class="TrippelContainer" id="TrippelContainer1">
				<p>
					<label for="licencePlate">Kenteken:</label> <input
						name="licencePlate" id="licencePlate" type="text"
						data-ng-model="licencePlate"></input>
				</p>
				<p>
					<label for="chauffeur">Naam chauffeur:</label> <input
						name="chauffeur" id="chauffeur" type="text"
						data-ng-model="chauffeur"></input>
				</p>
				<p>
					<label for="owner">Eigenaar:</label> <input name="owner" id="owner"
						type="text" data-ng-model="owner"></input>
				</p>
				<p>
					<label for="brand">Merk:</label> <input name="brand" id="brand"
						type="text" data-ng-model="brand"></input>
				</p>
			</div>
			<div class="TrippelContainer" id="TrippelContainer2">
				<p>
					<label for="type">Type:</label> <input name="type" id="type"
						type="text" data-ng-model="type"></input>
				</p>
				<p>
					<label for="availebleFrom">Beschikbaar van:</label> <input
						name="availebleFrom" id="availebleFrom" type="date"
						data-ng-model="availebleFrom"></input>
				</p>
				<p>
					<label for="notAvailebleFrom">Niet beschikbaar van:</label> <input
						name="notAvailebleFrom" id="pnotAvailebleFrom" type="date"
						data-ng-model="notAvailebleFrom"></input>
				</p>
				<p>
					<label for="compartmentNumber">Compartementnummer:</label> <input
						name="compartmentNumber" id="compartmentNumber" type="number"
						data-ng-model="productPrijs"></input>
				</p>
			</div>

			<div class="TrippelContainer" id="TrippelContainer3">
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					zoeken</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					wijzigen</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					toevoegen</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					verwijderen</button>
			</div>
		</div>
	</section>
</body>

</html>
