<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<meta name="showTruck" content="Show trucks"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../static/js/showTruck.js" th:src="@{/js/showTrucks.js}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>Vrachtwagenmanagement</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/styleTrucks.css}"></link>
	<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script>
</head>

<body data-ng-app="showTruck">
	<header>
		<div>
			<h1 id="pageHead">Vrachtwagenmanagement</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Routebepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>


	<section id="headSection">
		<h1>Vrachtwagens</h1>
	</section>
	<section id="inventaris" data-ng-controller="tableController">
		<div class="container">
			<div id="containerTruckManagement">
				<table id = "tableTrucks" style="min-height: 150px">
					<thead>
						<tr id="tableHeaders">
							<th width="10%">Kenteken</th>
							<th width="10%">Chauffeur</th>
							<th width="10%">Merk</th>
							<th width="10%">Type</th>
							<th width="10%">Eigenaar</th>
							<th width="10%">Beschikbaar vanaf</th>
							<th width="10%">Niet beschikbaar vanaf</th>
						</tr>
					</thead>
					<tbody id="truckTbody">
					</tbody>
				</table>
			</div>
		</div>
	</section>


	<section id="alterTruck">
		<div class="container" data-ng-controller="viewTruckController">
			<div class="productFormItem">
				<label for="licencePlate">Kenteken:</label>
				<div>
					<input name="licencePlate" id="licencePlate" type="text"
						data-ng-model="licencePlate"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="chauffeur">Chauffeur:</label>
				<div>
					<input name="chauffeur" id="chauffeur" type="text"
						data-ng-model="chauffeur"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="brand">Merk:</label>
				<div>
					<input name="brand" id="brand" type="text"
						data-ng-model="brand"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="type">Type:</label>
				<div>
					<input name="type" id="type" type="text"
						data-ng-model="type"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="type">Eigenaar:</label>
				<div>
					<input name="owner" id="owner" type="text"
						data-ng-model="owner"></input>
				</div>
			</div>	
			<div class="productFormItem">
				<label for="availableFrom">Beschikbaar vanaf:</label>
				<div>
					<input type="text" class="datepicker" id="availableFrom"
							 style="width: 100%" data-ng-model="availableFrom"></input>
				</div>
			</div>
			<div class="productFormItem">
				<label for="notAvailableFrom">Niet beschikbaar vanaf:</label>
				<div>
					<input type="text" class="datepicker" id="notAvailableFrom"
							 style="width: 100%" data-ng-model="notAvailableFrom"></input>
				</div>
			</div>
		</div>

	</section>

	<section id="alterProduct">
		<div class="container" data-ng-controller="viewTruckController">
			<div class="productFormItem">
				<div>
				<button name="btnSearchTruck" type="submit" class="button_1" data-ng-click="submitTruck()">Vrachtwagen zoeken</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
				<button disabled="true" name="btnEditTruck" type="submit" class="button_1">Vrachtwagen wijzigen</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
				<button disabled="true" name="btnAddTruck" type="submit" class="button_1">Vrachtwagen toevoegen</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
				<button disabled="true" name="btnDeleteTruck" type="submit" class="button_1">Vrachtwagen verwijderen</button>
				</div>
			</div>
			<div class="productFormItem">
				<div>
				<button name="btnClearFields" type="submit" class="button_1" data-ng-click="EmptyAll()">Leeg alle velden</button>
				</div>
			</div>
		</div>
</section>

</body>

</html>
