<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width"></meta>
	<meta name="placeOrder" content="Order placement"></meta>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../static/js/placeOrder.js" th:src="@{/js/placeOrder.js}"></script>
	<title>Vrachtwagenmanagement</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"></link>
	<!--  Files for datepicker -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script> 
</head>

<body>
	<header>
		<div>
			<h1 id="pageHead">Vrachtwagenmanagement</h1>
			<nav>
				<ul>
					<li class="dropdown"><a href="/" class="dropdownBtn">Bestellingen</a>
						<div class="dropdownMenu">
							<a href="/">Bestelling plaatsen</a> <a href="showOrders">Bestellingen
								weergeven</a>
						</div></li>
					<li class="dropdown"><a class="dropdownBtn">Management</a>
						<div class="dropdownMenu">
							<a href="customerManagement">Klantmanagement</a> <a
								href="productManagement">Productmanagement</a> <a
								href="truckManagement">Vrachtwagenmanagement</a>
						</div></li>
					<li><a href="routeBepaling">Route Bepaling</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="headSection">
		<h1>Inventaris</h1>
	</section>
	<section id="inventaris">
		<div class="container">
			<div id="containerProductManagement">
				<table>
					<thead>
						<tr>
							<th>Kenteken</th>
							<th>Chauffeur</th>
							<th>Merk</th>
							<th>Type</th>
							<th>Eigenaar</th>
							<th>Beschikbaar vanaf</th>
							<th>Niet beschikbaar tot</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>
						<tr>
							<td>01ABC</td>
							<td>Heel Snel</td>
							<td>Mercedes</td>
							<td>Ster</td>
							<td>Snel Transport</td>
							<td>18-10-2017</td>
							<td>20-10-2017</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="shoppingBasket">
		<div class="container">
			<div class="TrippelContainer" id="TrippelContainer1">
				<p>
					<label for="licencePlate">Kenteken:</label> <input
						name="licencePlate" id="licencePlate" type="text"
						data-ng-model="licencePlate"></input>
				</p>
				<p>
					<label for="chauffeur">Naam chauffeur:</label> <input
						name="chauffeur" id="chauffeur" type="text"
						data-ng-model="chauffeur"></input>
				</p>
				<p>
					<label for="owner">Eigenaar:</label> <input name="owner" id="owner"
						type="text" data-ng-model="owner"></input>
				</p>
				<p>
					<label for="brand">Merk:</label> <input name="brand" id="brand"
						type="text" data-ng-model="brand"></input>
				</p>
			</div>
			<div class="TrippelContainer" id="TrippelContainer2">
				<p>
					<label for="type">Type:</label> <input name="type" id="type"
						type="text" data-ng-model="type"></input>
				</p>
				<p>
					<label for="availableFrom">Beschikbaar van:</label> 
					<input type="text" id="availableFrom" class="datepicker"></input>
				</p>
				<p>
					<label for="notAvailableFrom">Beschikbaar van:</label> 
					<input type="text" id="notAvailableFrom" class="datepicker"></input>
				</p>
				<p>
					<label for="compartmentNumber">Compartementnummer:</label> <input
						name="compartmentNumber" id="compartmentNumber" type="number"
						data-ng-model="productPrijs"></input>
				</p>
			</div>

			<div class="TrippelContainer" id="TrippelContainer3">
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					zoeken</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					wijzigen</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					toevoegen</button>
				<br />
				<button name="btnSearchProduct" type="submit" class="button_1">Vrachtwagen
					verwijderen</button>
			</div>
		</div>
	</section>
</body>

</html>
